@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    background-color: #0f2343;
    color: white;
    width: 100%;
}

body {
    margin-top: unset;
    margin-bottom: unset;
    width: 105%;
    margin-left: -10px;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

nav ul {
    width: 90%;
    margin-left: 0px;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-content: center;

    font-size: 20px;

    list-style-type: none;
}

.menu-div {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    font-size: 25px;
}

li:hover {
    color: #3476e1;
    cursor: pointer;
}

nav {
    background: black;
    color: white;

    padding: 5px;

    border-radius: 20px 20px 0px 0px;
    /* border: 1px solid white; */
}

#title-h1 {
    font-size: 80px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: black;

    padding: 20px;

    border-radius: 20px;

    /* border: 1px solid white; */
}

article {
    overflow-y: hidden;
}

footer {
    border-radius: 20px 20px 0px 0px;

    margin-top: -20px;
    margin-left: -0.3vw;
    width: 100vw;
    padding: 20px;
    color: white;
    background: black;
}

.mantra img {
    width: 60%;
    object-fit: cover;
    border-radius: 20px;
}

.mantra div {
    padding: 100px;
}

.mantra {
    border-radius: 20px;

    display: flex;
    justify-content: space-between;

    padding: 0px;

    font-size: 24px;
}

.title-card h1 {
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
}

.title-card h1, .text-shadow {
    text-shadow: black 10px 10px 20px;
}

.title-card {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    /* width: 60%; */
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;

    border-radius: 0px 0px 20px 20px;

    color: white;

    height: 600px;
}

#title {
    /* background: url('https://cdn.wallpapersafari.com/34/94/8rJYxe.png'); */
    background: url('../images/black-abstract-gradient-background-free-vector-blue-2.png');
    /* background: url('https://static.vecteezy.com/system/resources/previews/003/550/596/original/abstract-modern-diagonal-blue-gradient-and-texture-background-free-vector.jpg'); */
    /* background: url('https://wallpapercave.com/wp/wp11387874.jpg'); */
    /* background: url('https://static.vecteezy.com/system/resources/previews/026/321/977/non_2x/abstract-grainy-gradient-background-with-vibrant-colors-free-vector.jpg'); */
    /* background-position-y: 50%; */
    /* -webkit-backdrop-filter: brightness(3); */
    /* backdrop-filter: brightness(3); */
    /* background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.pixexid.com%2Fgroup-of-friends-playing-board-games-young-people-at-game-night-friends-gather-gtfxffwa.jpeg&f=1&nofb=1&ipt=f8a220effdf92d460b87386b002c2f2f744a19134bc799836ef642e2be26d722&ipo=images'); */
    background-size: cover;
}

#join-us {
    margin-top: -20px;
    margin-bottom: -20px;

    font-size: 40px;

    flex-direction: column;

    width: 100vw;
    margin-left: -2.5vw;

    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F1499953403%2Fphoto%2Fgroup-of-friends-having-fun-playing-video-games-at-home-at-night.jpg%3Fs%3D170667a%26w%3D0%26k%3D20%26c%3Df3Xt0Mmh4tDAEHCUpLPeVKEQTeFrFrpTkytR2ZlY6fY%3D&f=1&nofb=1&ipt=229f99f2dd1a728688dee34c8bba06b94a84a442a7f24c23f05cb4a8042ab2fd&ipo=images);
    background-size: cover;

    background-attachment: fixed;

    filter: blur(5px) brightness(0.5);
    /* filter: ; */

    z-index: -5;
}

button {
    font-size: 40px;
    padding: 20px;

    background: linear-gradient(#00251a, #02112c);
    color: white;
    /* font-weight: 900; */
    border-radius: 20px;

    cursor: pointer;
}

button:hover {
    font-size: 40px;
    padding: 20px;

    background: linear-gradient(#00714d, #052c6f);
    color: white;
    font-weight: 600;
    border-radius: 20px;

    cursor: pointer;
}

#join-us-text {
    font-size: 40px;

    /* width: 30vw; */

    color: white;

    text-align: center;

    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: black;
    border-radius: 20px;

    /* height: 600px; */
}

#join-us-text div {
    padding: 40px;
}

#join-us-text img {
    width: 50vw;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}